
  body {
    font-family: Courier, Helvetica, sans-serif;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:white;
  }

  .container {
    width: 800px;
    max-width: 80%;
    background-color:red;
    padding: 10px;
    border: solid 10px;
  }
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    background-color:purple;
    font-size: 4rem;
    font-weight: bold;
    width: 80%;
    padding: 10px 0;
  }

  .score-area{
    position: absolute;
    bottom: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(166, 230, 29);
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    padding: 10px 0;
  }
  





